.swiper {
    width: 500px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}