//colors
// Main colors
$primary: #8B5E3C;
$secondary: #C9A88E;
$accent: #E7D7C9;
$btn-primary-hover: #be7c49;
$btn-primary-active: #775133;
// Backgrounds
$background: #FAF7F3;
$surface: #FFFFFF;

// Text
$text: #202D2D;
$muted-text: #6B6B6B;

// Other
$border: #E3DDD3;
$success: #4CAF7F;
$error: #E57373;
//fonts
$font-title: "PoppinsRegular", sans-serif;
$font-main: "InterRegular", sans-serif;


$transition: .3s ease;